.slider-wrapper {
  width: 100%;
  position: relative;

  .valueLabel {
    position: absolute;
    bottom: 16px;
    color: transparent;

    &.show {
      display: block;
      color: var(--dark-gray);
    }
  }

  .fill {
    position: absolute;
    width: 0px;
    height: 6px;
    top: 7px;
    left: 3px;
    z-index: 1;
    border-radius: var(--border-radius);
    background-color: var(--blue);
    pointer-events: none;
  }

  .slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    background-color: linear-gradient(to right, var(--blue) 0%, var(--blue) 0%, var(--lightest-gray) 100%);
    outline: none;
    position: relative;

    &:focus, &:hover {
      outline: none;
      &:not(.disabled) {
        &::-webkit-slider-thumb {
          // focus selector on thumb
          -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
          box-shadow: 0 0 1px transparent;
          transition: all 400ms ease;
          transform: scale(1.15);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
          // box-shadow: 0 0 0 3px lighten(#3C90DF, 30%);
        }
      }
    }

    // style thumb
    &::-webkit-slider-thumb {
      position: relative;
      z-index: 2;
      -webkit-appearance: none;
      margin-top: -5px;
      height: 16px;
      width: 16px;
      border-radius: 100%;
      border: 3px solid var(--blue);
      background-color: #FFF;
      &:after {
      }
    }

    // style track
    &::-webkit-slider-runnable-track {
      width: 100%;
      height: 6px;
      cursor: pointer;
      background-color: var(--lightest-gray);
      border-radius: var(--border-radius);
    }

    &::-ms-track {
      width: 100%;
      cursor: pointer;
      background: transparent;
      border-color: transparent;
      color: transparent;
    }

    &.disabled {
      &::-webkit-slider-thumb {
        background-color: #FFF;
        border: 3px solid var(--gray);
      }
      &::-webkit-slider-runnable-track  {
        cursor: not-allowed;
      }
      &::-ms-track {
        cursor: not-allowed;
      }
    }
  }

  .input-wrapper {
    position: absolute;
    top: 0;
    right: -15px;
    height: 25px;

    .control-input {
      text-align: center;
      border-radius: var(--border-radius);
      border: 1px solid var(--light-gray);
      outline: none;
      background-color: var(--lightest-gray);
      color: var(--font-color);

      &:focus {
        box-shadow: .1px .1px 1px var(--blue);
        background-color: #fff;
        border: 1px solid var(--dark-blue);
      }

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }
}
