.stepper {
  display: inline-block;

  .stepper-container {
    display: flex;
    padding: 20px 10px;

    .step-container {
      display: flex;
      cursor: default;

      &.clickable {
        cursor: pointer;
      }

      .step {
        border-radius: 100%;
        width: 24px;
        height: 24px;
        text-align: center;
        line-height: 24px;
        margin-right: 12px;
        color: #fff;
        font-weight: 600;
        background-color: var(--gray);
        transition: all 200ms ease;

        &.selected {
          background-color: var(--blue);
        }
      }

      .step-label {
        position: relative;
        line-height: 24px;
        color: var(--gray);
        transition: all 200ms ease;

        &.selected {
          font-weight: 400;
          color: var(--font-color);
        }
      }

      .line {
        height: 1px;
        width: 48px;
        margin: 11px;
        border: none;
        background-color: var(--gray);
      }
    }
  }
}
