.wrapper {
  position: relative;
  display: inline-block;

  &.shouldFitContainer {
    display: block;
  }

  .icon {
    position: absolute;
    top: 18px;
    right: 10px;
    color: var(--font-color);

    &.error {
      color: var(--red);
    }

    &.shouldFitContainer {
      top: 13px;
    }

    &.label {
      top: 35px;
    }
  }

  .fa-required {
    color: var(--red);
    font-size: 6px;
    margin-left: 4px;
    margin-top: -2.4px;
    vertical-align: middle;
  }

  .input {
    display: inline-block;
    height: 40px;
    border-radius: var(--border-radius);
    border: 1px solid var(--light-gray);
    transition: all 200ms ease;
    color: var(--font-color);
    padding: 0 30px 0 10px;
    outline: none;
    background-color: var(--lightest-gray);
    position: relative;

    &::placeholder {
      color: var(--dark-gray);
    }

    &.sm {
      height: 36px;
    }
    &.shouldFitContainer {
      display: block;
      width: 100%;
    }

    &.date {
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      &::-webkit-calendar-picker-indicator {
        display: none
      }
      &::-webkit-input-placeholder {
        visibility: hidden !important;
      }
    }

    &:focus {
      border: 1px solid var(--dark-blue);
      background-color: #FFF;
      box-shadow: 0 .1px 1px var(--blue);
    }

    // Errored input
    &.error {
      border: 1px solid var(--red);
      background-color: #FFF;
      box-shadow: 0 .1px 1px var(--red);
    }

    &.disabled {
      cursor: not-allowed;
      &::placeholder {
        color: var(--gray);
      }
    }
  }
}
