.modal {
  display: none;
  position: fixed;
  z-index: 3000;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.35);
  pointer-events: initial;

  &.isOpen {
    display: block;
  }

  .modal-container {
    pointer-events: all;
    background-color: #FFF;
    color: var(--font-color);
    position: relative;
    top: 42.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 45px, rgba(0, 0, 0, 0.22) 0px 10px 18px;
    // min-height: 335px;
    min-width: 335px;
    border-radius: var(--border-radius);

    hr {
      // ignore padding on parent div
      width: 100%;
      border: none;
      height: 1px;
      background-color: var(--light-gray);
    }

    .header {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      padding: 25px;
      background-color: #fff;
      color: var(--font-color);
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
      border-radius: 3px 3px 0 0;

      .title {
        word-wrap: break-word;
      }

      .exit-button {
        width: 35px;
        height: 35px;
        margin-left: auto;
        outline: none;
        border: none;
        border-radius: var(--border-radius);
        background-color: transparent;
        color: var(--font-color);
        font-size: 2rem;
        cursor: pointer;
        text-align: center;
        position: relative;

        &:hover {
          border-radius: 50%;
          background-color: var(--lightest-gray);
        }
      }
    }

    .body {
      // margin: 10px 0;
      padding: 0 25px;
      max-height: 750px;
      overflow-x: hidden;
      overflow-y: hidden;
    }

    .footer {
      display: flex;
      padding: 25px;
      justify-content: flex-end;
      align-items: center;
      flex-direction: row;
      width: 100%;

      button {
        margin: 0 6px;
      }
    }
  }
}
