.snackbar {
  position: fixed;
  left: 50%;
  bottom: 0;
  z-index: 2900;
  display: flex;
  visibility: hidden;
  transform: translate(-50%, 48px);
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, visibility 400ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;

  &.show {
    visibility: visible;
    transform: translate(-50%, 0);
  }

  .snackbar-content {
    width: auto;
    padding: 0 24px;
    height: 48px;
    line-height: 48px;
    border-radius: 2px;
    max-width: 568px;
    min-width: 288px;
    flex-grow: 0;
    background-color: rgba(0, 0, 0, 0.87);

    .snackbar-text {
      color: #fff;
      opacity: 0;
      transition: opacity 400ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;

      &.show {
        opacity: 1;
        transition: opacity 500ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
      }
    }

    .action-label {
      float: right;
      text-transform: uppercase;
      overflow: hidden;
      background-color: transparent;
      text-align: center;
      cursor: pointer;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      color: var(--blue);
      text-shadow: 0 0 4px var(--bright-blue);
    }
  }
}
