.toggle {
  .box {
    width: 48px;
    height: 24px;
    position: relative;
    cursor: pointer;
    border-radius: 15px;
    transition: all 200ms ease;
    // change background color of toggle button
    &.unchecked {
      background: var(--light-gray);
    }
    &.checked {
      background: var(--blue);
    }

    &.disabled {
      background: var(--light-gray);
      cursor: not-allowed;
    }

  }
  // clear default checkbox
  input {
    display: none;
  }

  .check {
    border-radius: 15px;
    height: 20px;
    width: 20px;
    transition: all 200ms ease;
    position: absolute;
    background-color: #FFF;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;

    &.checked {
      box-shadow: 1px 1px 1px var(--dark-blue);
      color: var(--blue);
      left: 25px;
      top: 2px;
      padding-left: 1px;
    }
    &.unchecked {
      box-shadow: 1px 1px 1px var(--gray);
      color: var(--dark-gray);
      text-align: center;
      line-height: 22px;
      font-size: 11px;
      position: absolute;
      height: 20px;
      width: 20px;
      border-radius: 15px;
      background: #FFF;
      left: 3px;
      top: 2px;
      transition: all 200ms ease;
    }
    &.disabled {
      background: var(--light-gray);
      box-shadow: 0 1px 1px var(--dark-gray);
      color: var(--gray)
    }
  }
}
