.colors {
  width: 80%;
  margin: 20px auto 30px;

  .color-list {
    display: flex;
    flex-wrap: wrap;

    .color {
      display: flex;
      flex-wrap: wrap;
      flex: 0 0 calc(20% - 40px);
      margin: 0 20px 30px;

      .swatch {
        width: 100%;
        border: 1px solid var(--light-gray);
        border-radius: var(--border-radius);
        padding: 10px;
        box-shadow: 0 2px 3px var(--gray);

        > div {
          height: 75px;
          border-radius: var(--border-radius);
        }

        p {
          text-align: center;
        }
      }

      .label {
        color: var(--dark-gray);
      }
    }
  }
}
